ServiceRestSMS/ServiceRestSMS/Service References/WF_SMSNacido/WF_SMSNacido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WF_SMSNacido" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSNacido.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSNacido.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStartSMSNacido_StartSMSNacido_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSMSNacido" />
  </wsdl:message>
  <wsdl:message name="IStartSMSNacido_StartSMSNacido_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartSMSNacidoResponse" />
  </wsdl:message>
  <wsdl:message name="StopSMSNacido_StopSMSNacido_InputMessage">
    <wsdl:part name="parameters" element="tns:StopSMSNacido" />
  </wsdl:message>
  <wsdl:message name="RespSMSControl_RespSMSControl_InputMessage">
    <wsdl:part name="parameters" element="tns:RespSMSControl" />
  </wsdl:message>
  <wsdl:portType name="IStartSMSNacido">
    <wsdl:operation name="StartSMSNacido">
      <wsdl:input wsaw:Action="http://tempuri.org/IStartSMSNacido/StartSMSNacido" message="tns:IStartSMSNacido_StartSMSNacido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStartSMSNacido/StartSMSNacidoResponse" message="tns:IStartSMSNacido_StartSMSNacido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StopSMSNacido">
    <wsdl:operation name="StopSMSNacido">
      <wsdl:input wsaw:Action="http://tempuri.org/StopSMSNacido/StopSMSNacido" message="tns:StopSMSNacido_StopSMSNacido_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RespSMSControl">
    <wsdl:operation name="RespSMSControl">
      <wsdl:input wsaw:Action="http://tempuri.org/RespSMSControl/RespSMSControl" message="tns:RespSMSControl_RespSMSControl_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStartSMSNacido" type="tns:IStartSMSNacido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSMSNacido">
      <soap:operation soapAction="http://tempuri.org/IStartSMSNacido/StartSMSNacido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_StopSMSNacido" type="tns:StopSMSNacido">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StopSMSNacido">
      <soap:operation soapAction="http://tempuri.org/StopSMSNacido/StopSMSNacido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_RespSMSControl" type="tns:RespSMSControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RespSMSControl">
      <soap:operation soapAction="http://tempuri.org/RespSMSControl/RespSMSControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WF_SMSNacido">
    <wsdl:port name="BasicHttpBinding_IStartSMSNacido" binding="tns:BasicHttpBinding_IStartSMSNacido">
      <soap:address location="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSNacido.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_StopSMSNacido" binding="tns:BasicHttpBinding_StopSMSNacido">
      <soap:address location="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSNacido.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_RespSMSControl" binding="tns:BasicHttpBinding_RespSMSControl">
      <soap:address location="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSNacido.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>