ServiceRestSMS/ServiceRestSMS/Service References/WF_SMSGestacion/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSGestacion.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSGestacion.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStartSMSGestacion_StartSMSGestacion_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSMSGestacion" />
  </wsdl:message>
  <wsdl:message name="IStartSMSGestacion_StartSMSGestacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartSMSGestacionResponse" />
  </wsdl:message>
  <wsdl:message name="StopSMSGestacion_StopSMSGestacion_InputMessage">
    <wsdl:part name="parameters" element="tns:StopSMSGestacion" />
  </wsdl:message>
  <wsdl:message name="RespSMSControl_RespSMSControl_InputMessage">
    <wsdl:part name="parameters" element="tns:RespSMSControl" />
  </wsdl:message>
  <wsdl:portType name="IStartSMSGestacion">
    <wsdl:operation name="StartSMSGestacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IStartSMSGestacion/StartSMSGestacion" message="tns:IStartSMSGestacion_StartSMSGestacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStartSMSGestacion/StartSMSGestacionResponse" message="tns:IStartSMSGestacion_StartSMSGestacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StopSMSGestacion">
    <wsdl:operation name="StopSMSGestacion">
      <wsdl:input wsaw:Action="http://tempuri.org/StopSMSGestacion/StopSMSGestacion" message="tns:StopSMSGestacion_StopSMSGestacion_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RespSMSControl">
    <wsdl:operation name="RespSMSControl">
      <wsdl:input wsaw:Action="http://tempuri.org/RespSMSControl/RespSMSControl" message="tns:RespSMSControl_RespSMSControl_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStartSMSGestacion" type="tns:IStartSMSGestacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSMSGestacion">
      <soap:operation soapAction="http://tempuri.org/IStartSMSGestacion/StartSMSGestacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_StopSMSGestacion" type="tns:StopSMSGestacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StopSMSGestacion">
      <soap:operation soapAction="http://tempuri.org/StopSMSGestacion/StopSMSGestacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_RespSMSControl" type="tns:RespSMSControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RespSMSControl">
      <soap:operation soapAction="http://tempuri.org/RespSMSControl/RespSMSControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IStartSMSGestacion" binding="tns:BasicHttpBinding_IStartSMSGestacion">
      <soap:address location="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSGestacion.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_StopSMSGestacion" binding="tns:BasicHttpBinding_StopSMSGestacion">
      <soap:address location="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSGestacion.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_RespSMSControl" binding="tns:BasicHttpBinding_RespSMSControl">
      <soap:address location="http://10.64.65.200/WFS_MilDias/WorkFlows/WF_SMSGestacion.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>